@charset "UTF-8";

@media only screen and (max-width: 768px) {
    header p{
        font-size: 20px;
    }

    header button{
        display: block;
    }

    aside{
        width: 200px;
        transform: translate(-200px);
    }

    main #triangulo{
        display: none;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
            'header header' 
            'menu menu' 
            'footer footer';
    }

    section#inicio {
        background-image: url("img/capa.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.5;
    }
    main#conteudo div#item{
        left: 50%;
    }
    main#conteudo section#sobre{
        height: 700px;
    }
    main#conteudo section#sobre article{
        position: absolute;
        left: 5%;
        transform: translateY(20px);
        margin: auto;
        width: 370px;
        height: 650px;
        background-image: linear-gradient(90deg, var(--amarelado-cor), var(--laranjado-cor));
        border-radius: 400px;
    }
    main#conteudo section#sobre article p{
        font-size: 13px;
        top: 200px;
        left: 40px;
    }
    main#conteudo section#sobre article img{
        position: absolute;
        top: 50px;
        left: 80px;
    }
    main section#inicio article p{
        color: #fff;
        position: absolute;
        right: 40px;
        top: -200px;
        font-size: 30px;
        width: 300px;
    }
    main#conteudo section#inicio img{
        position: relative;
        left: 25%;
        top: 300px;
    }
    main#conteudo button#scroll{
        display: none !important;
    }
    main#conteudo section#content article{
        display: flex;
        flex-direction: column;
    }
    main#conteudo section#content article p{
        width: 300px;
        margin: auto;
        margin: 20px auto;
    }
    main#conteudo section#content img{
        width: 400px;
        margin: auto;
    }
    section:nth-child(4){
        height: 300px;
    }
    aside{
        width: 150px;
    }
    aside li a{
        position: relative;
        right: 30px;
    }

    #video{
        position: relative;
        left: 50%;
        transform: translate(-35%);
    }
    #item{
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    aside{
        width: 200px;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
            'header header' 
            'menu menu' 
            'footer footer';
    }
    main#conteudo section#inicio article{
        width: 400px;
    }
    main#conteudo section#sobre article p{
        color: #fff;
        width: 300px;
        position: absolute;
        right: 15%;
        top: 100px;
        text-align: justify;
    }
    main#conteudo section#sobre article img{
        position: absolute;
        top: 250px;
        left: -150px;
    }
}