@charset "UTF-8";

@media only screen and (max-width: 768px) {
    header p{
        font-size: 20px;
    }

    header button{
        display: block;
        width: 30px;
    }

    aside{
        width: 200px;
        transform: translate(-200px);
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
            'header header' 
            'menu menu' 
            'footer footer';
    }

    main section#inicio {
        background-image: url("img/fundoSmall.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    main#conteudo div#item{
        left: 50%;
    }
    main#conteudo section#sobre{
        margin-top: 150px;
    }
    main#conteudo section#sobre article{
        display: flex;
        flex-direction: column;
    }
    main#conteudo section#sobre article p{
        font-size: 13px;
        margin: auto;
    }
    main#conteudo section#sobre article img{
        width: 100%;
        margin-bottom: 20px;
    }
    main section#inicio article p{
        width: 70%;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.5 linear;
        position: relative;
        top: -100px;
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
    }
    main#conteudo button#scroll{
        display: none !important;
    }
    main#conteudo section#content article{
        display: flex;
        flex-direction: column;
    }
    main#conteudo section#content article p{
        width: 300px;
        margin: auto;
        margin: 20px auto;
    }
    main#conteudo section#content img{
        width: 400px;
        margin: auto;
    }
    main#conteudo section#contato article{
        width: 100%;
    }
    main#conteudo section#contato article form{
        padding-left: 100px;
    }
    main#conteudo section#contato article h1{
        text-align: center;
    }
    section:nth-child(4){
        height: 300px;
    }
    aside{
        width: 150px;
    }
    aside li a{
        position: relative;
        right: 30px;
    }

    #video{
        position: relative;
        left: 50%;
        transform: translate(-35%);
    }
    #item{
        display: none;
    }
    #principal{
        padding: 0 15px 0 0;
    }
}

@media only screen and (max-width: 768px){
    
}